{% extends 'story9/base.html' %}

{% block content %}

<div class="textcenter">
	<h1> Log in</h1>
</div>

<div class="inaBox">
	<form method="POST">
		{% csrf_token %}
		<label> Username </label>
		<input type="text" name="username" placeholder="Username..." class="form-control">
		<label> Password </label>
		<input type="password" name="password" placeholder="Password..." class="form-control" >
		<br>	
		{% if error_message %}
			<p>{{error_message}}</p>
		{% endif %}
		<br>
	    <button class="btn btn-first" type="submit"> Submit</button>
	    
	</form>

</div>
{% endblock %}