{% extends 'story9/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="textcenter">
	<h1> Sign Up</h1>
</div>

<div class="inaBox">
	<form method="POST" action="">

		{% csrf_token %}
		{{ form|crispy }}
		{{ form.errors }}
		<div class="inaBox">
	        <button class="btn btn-first" type="submit"> Submit</button>
	    </div>
	</form>
</div>
{% endblock %}