{% extends 'base.html' %}

{% block title %}Story 7{% endblock %}
{% block judulAtas %}Implementation of JavaScript and Jquery{% endblock %}

{% block content %}
	<style>
		p    {
			color: black;
			font-size: 13px;
		}
	</style>

	<div class="inaBox">
		<h1>
			ACCORDIONQ
		</h1>
	</div>
	<div class="inaBox">
		<div id="accordion">
		  	<h3 class="section" id=1>Activity
		  			<button class="arrow up" style="float: right; margin:6px;"> </button>
		  			<button class="arrow down" style="float: right; margin:6px;"></button>
		  	</h3>
		  	<div class="section-content" id=1>
			    <p>
			    	Currently, my main activity is studying at Universitas Indonesia. 
			    </p>
		  	</div>
		  	<h3 class="section" id=2>Hobbies
		  			<button class="arrow up" style="float: right; margin:6px;"> </button>
		  			<button class="arrow down" style="float: right; margin:6px;"></button>
		  	</h3>
		  	<div class="section-content" id=2>
			    <p>
			    I love to read
			    </p>
		  	</div>
		  	<h3 class="section" id=3>Organization
		  			<button class="arrow up" style="float: right; margin:6px;"> </button>
		  			<button class="arrow down" style="float: right; margin:6px;"></button>
		  	</h3>
		  	<div class="section-content" id=3>
			    <ul>
				    <li>Staff of Business IT Case at Compfest 2020</li>
			    </ul>
		  	</div>
		  	<h3 class="section" id=3>Courses
		  			<button class="arrow up" style="float: right; margin:6px;"> </button>
		  			<button class="arrow down" style="float: right; margin:6px;"></button>
		  	</h3>
	  		<div class="section-content" id=3>
	  			<ul>
				    <li>PPW</li>
			    </ul>
	  		</div>
		</div>
	</div>

{% endblock %}