{% extends 'base.html' %}
{% block title %} Story8 {% endblock %}
{% block judulAtas %} Search for book {% endblock %}

{% block content %}
<div class="inaBox">
    <label class="col-sm-2 col-form-label">Search:</label>
    <input type="text" class="form-control" id="searchkey" placeholder="Masukkan kata kunci...">
</div>

<div class="inaBox">
	<table border="0" width="60%" class="table table-borderless" id="tabelbuku">
	</table>
</div>

<script type="text/javascript">
	$('#searchkey').keyup(function(){
  		var ketikan = $('#searchkey').val();
  		//console.log(ketikan);
  		$.ajax({
  			url: '/story8/data?q=' + ketikan,
  			success: function(data){
  				//console.log(data);
  				var objects = data.items;
          $('#tabelbuku').empty();
          $('#tabelbuku').append('<tr><th>#</th><th>Thumbnail</th><th colspan=4>Judul</th><th>link</th></tr>')
  				for (i = 1; i < objects.length + 1; i++) {
  					var judul = objects[i-1].volumeInfo.title;
  					var smallThumbnail = objects[i-1].volumeInfo.imageLinks.smallThumbnail;
  					var link = objects[i-1].volumeInfo.infoLink;
  					console.log(link);
  					$('#tabelbuku').append('<tr><td>' + i + '</td><td><img src="' + smallThumbnail + '"></img></td><td colspan=4>' + judul + '</td><td><a href="' + link + '">View</a></td></tr>' );
				  } 
  			}
  		});
	});
</script>



{% endblock %}