{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Mata Kuliah!{% endblock %}
{% load static %} 
{% block content%}
<form method="POST" style="padding-left: 40px; padding-top: 30px; padding-bottom: 30px">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="inaBox">
        <button class="btn btn-first" type="submit"> Submit</button>
    </div>
</form>
<div class="inaBox">
    <button class="btn btn-first">
        <a  href="{% url 'main:showmatkul' %}">Back</a>
    </button>
</div>

{% endblock %}