{% extends 'main/base.html' %}
{% block title %}Ask me!{% endblock %}
{% load static %} 
{% block content%}   
    <div class="inaBox">
        <label class="tulKecil" for="fname">Nama:</label>
        <input type="text" class="form-control" name="fname"><br><br>
        <label class="tulKecil" for="fmail">Email:</label>
        <input type="text" class="form-control" name="fmail">
        <label class="tulKecil" for="question">Message:</label>
        <textarea type="text" class="form-control" rows="5" name="message" ></textarea>
    </div>

    <div class="text-center">
        <a class="btn btn-first" href="{% url 'main:home' %}">Back</a>
        <a class="btn btn-second" id="buttondua" href="#">Submit</a>
    </div>
{% endblock %}