{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-4">
        <img src="{% static 'img/MY50.jpg' %}" class="img-rounded" id="foto">
    </div>
    <div id="desc">
        <h1 id="nama">Rio Fernando Alexander</h1>
        <p id="jabatan">Undergraduate Student in University of Indonesia</p>
    </div>
    <div class="inaBox" id="desc">
        <p>Saya saat ini sedang mengambil mata kuliah perancangan dan pemrograman web.
        Saya sangat sadar bahwa website ini tidak enak dilihat, sehingga saya akan belajar terus menerus untuk meningkatkan 
        kemampuan saya dalam membuat sebuah website. 
        Enggan mendesain terlalu bagus karena takut tidak bisa mengimplementasikan dengan baik.
            </p>
    </div>

    <div class="textcenter">
        <a class="btn btn-second" href="{% url 'main:qna' %}">Ask me a Question?</a>
        <a class="btn btn-third" href="{% url 'main:showmatkul' %}"> Mata Kuliah!</a>
    </div>

    <div class="textcenter">
        <a class="btn btn-first" href="{% url 'story6:index' %}"> Story6 </a>
        <a class="btn btn-second" href="{% url 'story7:index' %}"> Story7 - JavaScript </a>
        <a class="btn btn-third" href="{% url 'story8:index' %}">Story8 - AJaX</a>
    </div>

    <div class="textcenter">
        <a class="btn btn-first" href="{% url 'story9:index' %}"> Story9</a>
    </div>

    <div  class="inaBox">
        <h1>Riwayat Pendidikan</h1>
        <table border="0" width="60%" class="table table-borderless">
            <tr>
                <td><p class="tulGede">Universitas Indonesia</p>
                    <p class="tulKecil">Fakultas Ilmu komputer</p></td>
                <td class="tulGede">2019-Sekarang</td>
            </tr>
            <tr>
                <td><p class="tulGede">SMAN 1 Lubuk Pakam</p>
                    <p class="tulKecil">Matematika dan Ilmu Pengetahuan Alam</p></td>
                <td class="tulGede">2016-2019</td>
            </tr>
            <tr>
                <td class="tulGede">SMPN 1 Tanjung Morawa</td>
                <td class="tulGede">2013-2016</td>
            </tr>
        </table>
        

    </div>

    <div class="inaBox">
        <h1>Pengalaman Organisasi</h1>
        <div>
            <p class="tulGede">COMPFEST 12</p>
            <p class="tulKecil">Staff of Business IT Case</p>
        </div>
        <div>
            <p class="tulGede">UI MUN Club</p>
            <p class="tulKecil">Member</p>
        </div>
        <div>
            <p class="tulGede">StudentsCatalyst</p>
            <p class="tulKecil">Students</p>
        </div>
    </div>

    <div class="inaBox">
        <table border="0" width="60%" class="table table-borderless">
            <tr>
                <th class="tulGede">Projects</th>
                <th class="tulGede">Skills</th>
            </tr>
            <tr>
                <td>
                <td class="tulGede">Python Programming</td>
            </tr>
            <tr>
                <td></td>
                <td class="tulGede">Microsoft Word</td>
            </tr>
            <tr>
                <td></td>
                <td class="tulGede">Debate</td>
            </tr>
        </table>
    </div>


    <footer class="footer">
        <div id="contact">
            <h1>Contact Me</h1>
            <div class="inaBox">
                <p>@rio_fernando_</p>
                <p>linkedin.com/in/rio_fernando_</p>
            </div>
        </div>
    </footer>
    
{% endblock %}