{% load static %}
{% extends 'main/base.html' %}


{% block content %}
<div class="inaBox">
    <img src="{% static 'img/MY50.jpg' %}" class="img-responsive" width="200" height="210">
</div>
<div class="inaBox">
    <p> Nama: Rio Fernando </p>
    <p> Angkatan: 2019</p>
    <p> Kampus: Universitas Indonesia </p>
    <p>Riwayat Pendidikan:</p>
    <table border="1" width="40%">
        <tr>
            <th>Periode</th>
        <tr>
            <th>2019-Sekarang</th>
            <th>Universitas Indonesia</th>
        </tr>
    </table>
    
</div>
<div class="textcenter">
    <button class="button">
        <a href="{% url 'main:home' %}">My updated website</a>
    </button>
</div>
{% endblock %}
