{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Mata Kuliah!{% endblock %}
{% load static %} 
{% block content%}

<p> Are you sure you want to delete Mata Kuliah "{{ item }}"?</p>

<div class="inaBox">
	<form action="{% url 'main:deletematkul' item.id %}"method="POST">
		{% csrf_token %}
		<button class="btn btn-first">
			<a href="{% url 'main:showmatkul' %}"> Cancel </a>
		</button>
		<button type="submit" class="btn btn-success" name="Confirm">Confirm</button>
		
	</form>
</div>

{% endblock %}